# logging.level.org.springframework=DEBUG

# H2 configurations
spring.h2.console.enabled=true
spring.h2.console.path=/h2

# spring.datasource.url=jdbc:h2:mem:database_name

# MySQL
spring.datasource.username=
spring.datasource.password=

spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.MySQL5InnoDBDialect
spring.jpa.hibernate.ddl-auto=none
spring.jpa.hibernate.show-sql=true
spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true

# spring.datasource.url=url
# spring.jpa.database-platform=org.hibernate.dialect.MySQL5InnoDBDialect
